from: https://tech.davidfield.co.uk/using-wireguard-when-your-linux-distro-hasnt-caught-up-yet/


    <div class="site-wrapper">

        

<header class="site-header">
    <div class="outer site-nav-main">
    <div class="inner">
        <nav class="site-nav">
    <div class="site-nav-left-wrapper">
        <div class="site-nav-left">
                [Tech Blog Posts - David Field](https://tech.davidfield.co.uk/)
            <div class="site-nav-content">
                    
    - [Home](https://tech.davidfield.co.uk/)
    - [Photos](https://www.photowalktheworld.com/)
    - [Reddit](https://www.reddit.com/user/mightywomble)
    - [Linkedin](https://www.linkedin.com/in/mightywomble/)
    - [Twitter](https://twitter.com/mightywomble)
    - [Me](http://www.davidfield.co.uk/)


                    <span class="nav-post-title dash">Using Wireguard when your Linux Distro hasn't caught up yet</span>
            </div>
        </div>
    </div>
    <div class="site-nav-right">
            <div class="social-links">
                    [<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M30.063 7.313c-.813 1.125-1.75 2.125-2.875 2.938v.75c0 1.563-.188 3.125-.688 4.625a15.088 15.088 0 0 1-2.063 4.438c-.875 1.438-2 2.688-3.25 3.813a15.015 15.015 0 0 1-4.625 2.563c-1.813.688-3.75 1-5.75 1-3.25 0-6.188-.875-8.875-2.625.438.063.875.125 1.375.125 2.688 0 5.063-.875 7.188-2.5-1.25 0-2.375-.375-3.375-1.125s-1.688-1.688-2.063-2.875c.438.063.813.125 1.125.125.5 0 1-.063 1.5-.25-1.313-.25-2.438-.938-3.313-1.938a5.673 5.673 0 0 1-1.313-3.688v-.063c.813.438 1.688.688 2.625.688a5.228 5.228 0 0 1-1.875-2c-.5-.875-.688-1.813-.688-2.75 0-1.063.25-2.063.75-2.938 1.438 1.75 3.188 3.188 5.25 4.25s4.313 1.688 6.688 1.813a5.579 5.579 0 0 1 1.5-5.438c1.125-1.125 2.5-1.688 4.125-1.688s3.063.625 4.188 1.813a11.48 11.48 0 0 0 3.688-1.375c-.438 1.375-1.313 2.438-2.563 3.188 1.125-.125 2.188-.438 3.313-.875z"></path></svg>
](https://twitter.com/mightywomble "Twitter")
            </div>
                [<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><circle cx="6.18" cy="17.82" r="2.18"></circle><path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"></path></svg>
](https://feedly.com/i/subscription/feed/https://tech.davidfield.co.uk/rss/ "RSS")

    </div>
</nav>
    </div>
</div></header>


<main id="site-main" class="site-main outer">
    <div class="inner">

        <article class="post-full post tag-linux tag-blog tag-homelab tag-howto tag-bash ">

            <header class="post-full-header">

                <section class="post-full-tags">
                    [linux](https://tech.davidfield.co.uk/tag/linux/)
                </section>

                # Using Wireguard when your Linux Distro hasn't caught up yet


                <div class="post-full-byline">

                    <section class="post-full-byline-content">

                        
                            - 
    
                                    <div class="author-card">
                                        ![David Field](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/312470863342bdbf66f8f1186a173463.png)
                                        <div class="author-info">
                                            <h2>David Field</h2>
                                            Read [more posts](https://tech.davidfield.co.uk/author/david/) by this author.
                                        </div>
                                    </div>
    
                                    [
                                        ![David Field](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/312470863342bdbf66f8f1186a173463.png)
                                    ](https://tech.davidfield.co.uk/author/david/)
    
                                
                        

                        <section class="post-full-byline-meta">
                            #### [David Field](https://tech.davidfield.co.uk/author/david/)
                            <div class="byline-meta-content">
                                <time class="byline-meta-date" datetime="2020-08-29">29 Aug 2020</time>
                                <span class="byline-reading-time"><span class="bull">•</span> 6 min read</span>
                            </div>
                        </section>

                    </section>


                </div>
            </header>

            <figure class="post-full-image">
                ![Using Wireguard when your Linux Distro hasn't caught up yet](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/wgbanner.png)
            </figure>

            <section class="post-full-content">
                <div class="post-content">
                    September is (or was depending when you 
read this) Fedora 32 Month, and a departure to Gnome 3 having spent over
 a year using KDE Plasma.After setting up Fedora I got to the VPN
 setup and then it hit me, in the Network Manager GUI on Fedora 32 
Gnome, unlike just about every other mainstream distro there is no 
Wireguard option.<figure class="kg-card kg-image-card">![](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/image-2.png)</figure>This option doesn't exist yet.This
 caused me an issue because I have a Wireguard VPN at home and would 
like to use it from the GUI rather than the command line.### AssumptionsI'm
 writing this based on my existing Wireguard Roadwarrior server setup 
which i've documented here (and rebuilt twice using these instructions)<figure class="kg-card kg-bookmark-card">[<div class="kg-bookmark-content"><div class="kg-bookmark-title">Wireguard Roadwarrior setup using Ubuntu Server 18.04, Pi-hole and Google Wifi (with some double NAT)</div><div class="kg-bookmark-description">Wireguard
 has had a lot of press because of its addition to the Linux Kernel. 
With this in mind I look to setup a Roadwarrior setup</div><div class="kg-bookmark-metadata">![](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/favicon.png)<span class="kg-bookmark-author">David Field</span><span class="kg-bookmark-publisher">Tech Blog Posts - David Field</span></div></div><div class="kg-bookmark-thumbnail">![](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/wireguard.jpg)</div>](https://tech.davidfield.co.uk/wireguard-roadwarrior-setup-using-pi-hole-and-google-wifi/)</figure>I'm aware i could use the inbuilt wireguard tools, nmcli seemed to be a tidier answer for my needs.### Client setupThe
 answer, or at least part of it is the Network Manager CLI (nmcli) which
 provides us addtional functionality than the standard wg-quick command.Ensure under /etc/wireguard/ the following are available**public and private keys**These are generated using the command

    wg genkey | tee privatekey | wg pubkey &gt; publickey


This command will generate two files

privatekey and publickey

use the commands to view the random key information

    cat privatekey
    cat publickey

**wgo.conf**

A client 
configuation is needed to connect back to the main Wireguard server. 
I've kept mine purposefully light. I am also running a pi-hole DNS on 
the Wireguard server.

    [Interface]
    Address = 10.10.10.11/32
    PrivateKey = theprivatekeyyoumadeearlier
    ListenPort = 21841
    DNS = 10.10.10.1
    
    [Peer]
    PublicKey = thepublickeyofyourwireguardserver
    Endpoint = 34.123.234.65:51230
    AllowedIPs = 0.0.0.0/0


You can test this using the commands

    wg-quick up wg0
    wg-quick down wg0

If this works and you can sucessfully connect to the VPN, then move forward
### Import using NMCLI
If the config is working we can now import it into Network Manager

    CONF_FILE="wg0.conf"
    nmcli connection import type wireguard file "$CONF_FILE"


If you want to delete the config use

    nmcli connection delete wg0


To check the config which has been imported run

    nmcli --overview connection show wg0

this should return something like this

    connection.id:                          wg0
    connection.uuid:                        35cf8681-bc42-482f-b686-d2f6ad567fe5
    connection.type:                        wireguard
    connection.interface-name:              wg0
    connection.timestamp:                   1598731025
    ipv4.method:                            manual
    ipv4.dns:                               10.10.10.1
    ipv4.addresses:                         10.10.10.11/32
    ipv6.method:                            disabled
    wireguard.private-key-flags:            0 (none)
    wireguard.listen-port:                  21841


To launch the VPN run the command

    nmcli connection up wg0

Re run the command 

    nmcli --overview connection show wg0

This time there should be a lot more displayed

    connection.id:                          wg0
    connection.uuid:                        35cf8681-bc42-482f-b686-d2f6ad567fe5
    connection.type:                        wireguard
    connection.interface-name:              wg0
    connection.timestamp:                   1598733549
    ipv4.method:                            manual
    ipv4.dns:                               10.10.10.1
    ipv4.addresses:                         10.10.10.11/32
    ipv6.method:                            disabled
    wireguard.private-key-flags:            0 (none)
    wireguard.listen-port:                  21841
    GENERAL.NAME:                           wg0
    GENERAL.UUID:                           35cf8681-bc42-482f-b686-d2f6ad567fe5
    GENERAL.DEVICES:                        wg0
    GENERAL.IP-IFACE:                       wg0
    GENERAL.STATE:                          activated
    GENERAL.DEFAULT:                        no
    GENERAL.DEFAULT6:                       no
    GENERAL.SPEC-OBJECT:                    --
    GENERAL.VPN:                            no
    GENERAL.DBUS-PATH:                      /org/freedesktop/NetworkManager/ActiveC&gt;
    GENERAL.CON-PATH:                       /org/freedesktop/NetworkManager/Setting&gt;
    GENERAL.ZONE:                           --
    GENERAL.MASTER-PATH:                    --
    IP4.ADDRESS[1]:                         10.10.10.11/32
    IP4.ROUTE[1]:                           dst = 0.0.0.0/0, nh = 0.0.0.0, mt = 200&gt;
    IP4.DNS[1]:                             10.10.10.1


The important line is

    GENERAL.STATE:                          activated

To shutdown the vpn run

    nmcli connection up wg0

The other useful command for troubleshooting is just

    nmcli

Which will also show the network card status

Next we will wrap a gui around these commands using bash and Zenity
### Zenity
**Zenity**
 is a rewrite of gdialog, the GNOME port of dialog which allows you to 
display dialog boxes from the commandline and shell scripts.

Using Zenity a bash script in Gnome can generate dialog boxes like this

<figure class="kg-card kg-image-card">![](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/image-3.png)</figure><figure class="kg-card kg-image-card">![](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/image-4.png)</figure>

There are links at the end of this post which will help provide a starting point with Zenity.
### Script
With the nmcli commands and zenity I was able to create this script
> DISCLAIMER:
>  I know running functions from within functions within bash is frowned 
> upon, it was the quickest and dirtiest way of getting this sorted. I'd 
> happily go over better ways to do this.

    #!/bin/bash
    ## VARIABLES
    
    
    ## FUNCTIONS
    func_mainmenu(){
    # Bash runction for the main menu, split out into a function as it rill be looped back to
    ans=$(zenity  --list  --text "Wireguard HomeVPN" --radiolist  --column "Pick" --column "Item" TRUE "Wireguard UP" FALSE "Wireguard DOWN" FALSE "Wireguard STATUS")
    }
    
    func_UP(){
        nmcli connection up wg0
        zenity --question --text "Do you want to check NMCLI status?"
        if [ $? = 0 ]; then
            func_nmcli
        else
            func_mainmenu
        fi
    }
    
    func_DOWN(){
        nmcli connection down wg0
        zenity --question --text "Do you want to check NMCLI status?"
        if [ $? = 0 ]; then
            func_nmcli
        else
            func_mainmenu
        fi
     }
    
     func_STATUS(){
         nmcli --overview connection show wg0 | zenity --text-info --width 600 --height 800
         func_mainmenu
     }
     
    func_nmcli(){
       nmcli | zenity --text-info --width 600 --height 800
       func_mainmenu
    }
    
     ##SCRIPT
     ##Call the main menu function
     func_mainmenu
     ## take the output of the zenity command and use it over an
     ## array in a for do look
       echo $ans
       array=( UP DOWN STATUS )
         for i in "${array[@]}"
         do
           echo $ans | grep $i
           result=$(echo $?)
           echo $result
           if [ $result = 0 ]; then 
           func_$i
         fi
         done

This Runs the following

<figure class="kg-card kg-image-card">![](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/Screenshot-from-2020-08-29-22-02-23.png)</figure>

Click
 on Wireguard UP and the Wireguard connection will be brought up, once 
done you'll be asked if you want to see the status of the connection

<figure class="kg-card kg-image-card">![](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/Screenshot-from-2020-08-29-22-02-31.png)</figure>

Clicking No goes back to the main menu, clicking yes

<figure class="kg-card kg-image-card">![](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/Screenshot-from-2020-08-29-22-02-38.png)</figure>

Shows all the enabled connections in Network Manager, and we can see the **wg0** interface is up.

Click on OK/Cancel and the main menu is displayed

<figure class="kg-card kg-image-card">![](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/Screenshot-from-2020-08-29-22-02-50.png)</figure>

Selecting Wireguard DOWN reverses the process and drops the connection.

Selecting Wireguard STATUS provides the status of the connection.

<figure class="kg-card kg-image-card">![](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/Screenshot-from-2020-08-29-22-03-17.png)</figure>
### Last bits
I linked the script to /usr/local/bin/wglauncher and pulled an icon off a google search.

<figure class="kg-card kg-image-card">![](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/image-5.png)</figure>

I created a**wglauncher.desktop** file in **/usr/share/applications**

    [Desktop Entry]
    Version=1.0
    Name=Wireguard
    Icon=/home/david/Pictures/icon/wireguard.png
    Type=Application
    Terminal=false
    Keywords=Network;
    Exec=/usr/local/bin/wglauncher

This created a simple bash driven Wireguard launcher.
### Git Repo
<figure class="kg-card kg-bookmark-card">[<div class="kg-bookmark-content"><div class="kg-bookmark-title">Projects · mightywomble_public / wireguard_launcher</div><div class="kg-bookmark-description">GitLab.com</div><div class="kg-bookmark-metadata">![](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/touch-icon-ipad-retina-8ebe416f5313483d9c1bc772b5bbe03ecad52.png)<span class="kg-bookmark-publisher">GitLab</span></div></div><div class="kg-bookmark-thumbnail">![](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/gitlab_logo-7ae504fe4f68fdebb3c2034e36621930cd36ea87924c11ff.png)</div>](https://gitlab.com/mightywomble_public/wireguard_launcher)</figure>
### Useful Links
<figure class="kg-card kg-embed-card">
> [A complete zenity dialog examples 2](https://linux.byexamples.com/archives/265/a-complete-zenity-dialog-examples-2/)
<iframe sandbox="allow-scripts" security="restricted" src="Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/a.html" title="“A complete zenity dialog examples 2” — Linux by Examples" marginwidth="0" marginheight="0" scrolling="no" class="wp-embedded-content" data-secret="2i3ey6h7b5" width="600" height="238" frameborder="0"></iframe>
</figure><figure class="kg-card kg-embed-card">
> [A complete zenity dialog examples 1](https://linux.byexamples.com/archives/259/a-complete-zenity-dialog-examples-1/)
<iframe sandbox="allow-scripts" security="restricted" src="Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/a_002.html" title="“A complete zenity dialog examples 1” — Linux by Examples" marginwidth="0" marginheight="0" scrolling="no" class="wp-embedded-content" data-secret="u2opkc1xa2" width="600" height="238" frameborder="0"></iframe>
</figure><figure class="kg-card kg-embed-card">
> [WireGuard in NetworkManager](https://blogs.gnome.org/thaller/2019/03/15/wireguard-in-networkmanager/)
<iframe sandbox="allow-scripts" security="restricted" src="Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/a_003.html" title="“WireGuard in NetworkManager” — Thomas Haller's Blog" marginwidth="0" marginheight="0" scrolling="no" class="wp-embedded-content" data-secret="3zzuusds3k" width="600" height="257" frameborder="0"></iframe>
</figure>
                </div>
            </section>



        </article>

    </div>
</main>

<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
                <article class="read-next-card">
                    <header class="read-next-card-header">
                        ### <span>More in</span> [linux](https://tech.davidfield.co.uk/tag/linux/)
                    </header>
                    <div class="read-next-card-content">
                        
                            - 
                                    <h4>[Self-hosting an image gallery with Chevereto](https://tech.davidfield.co.uk/self-hosted-image-gallery-with-chevereto/)</h4>
                                    <div class="read-next-card-meta">
                                        <time datetime="2020-08-25">25 Aug 2020</time> –
                                            6 min read
                                    </div>
                                
                            - 
                                    <h4>[Rudder: Checking your Automation is not breaking your servers.](https://tech.davidfield.co.uk/rudder-checking-your-automation-is-not-breaking-your-servers/)</h4>
                                    <div class="read-next-card-meta">
                                        <time datetime="2020-08-06">6 Aug 2020</time> –
                                            16 min read
                                    </div>
                                
                            - 
                                    <h4>[July - Distro Hopping](https://tech.davidfield.co.uk/june/)</h4>
                                    <div class="read-next-card-meta">
                                        <time datetime="2020-07-27">27 Jul 2020</time> –
                                            5 min read
                                    </div>
                                
                        
                    </div>
                    <footer class="read-next-card-footer">
                        [See all 19 posts
                            →](https://tech.davidfield.co.uk/tag/linux/)
                    </footer>
                </article>


                <article class="post-card post ">

    [
        ![Using QR codes to do quick and easy Event Registration](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/0.png)
    ](https://tech.davidfield.co.uk/using-qr-codes-to-do-quick-and-easy-event-registration/)

    <div class="post-card-content">

        [
&#10;            <header class="post-card-header">
                <h2 class="post-card-title">Using QR codes to do quick and easy Event Registration</h2>
            </header>
&#10;            <section class="post-card-excerpt">
                    <p>While mass meetings in these covid times are not 
common, if you are having an event that brings people together, and you 
don't want to bring them too together. Using</p>
            </section>
&#10;        ](https://tech.davidfield.co.uk/using-qr-codes-to-do-quick-and-easy-event-registration/)

        <footer class="post-card-meta">
            
                - 
                
                        <div class="author-name-tooltip">
                            David Field
                        </div>
                
                        [
                            ![David Field](Using%20Wireguard%20when%20your%20Linux%20Distro%20hasn't%20caught%20up%20yet_files/312470863342bdbf66f8f1186a173463.png)
                        ](https://tech.davidfield.co.uk/author/david/)
                    
            
            <div class="post-card-byline-content">
                <span>[David Field](https://tech.davidfield.co.uk/author/david/)</span>
                <span class="post-card-byline-date"><time datetime="2020-08-28">28 Aug 2020</time> <span class="bull">•</span> 3 min read</span>
            </div>
        </footer>

    </div>

</article>
        </div>
    </div>
</aside>




        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright">[Tech Blog Posts - David Field](https://tech.davidfield.co.uk/) © 2020</section>
                <nav class="site-footer-nav">
                    [Latest Posts](https://tech.davidfield.co.uk/)
                    
                    [Twitter](https://twitter.com/mightywomble)
                    [Ghost](https://ghost.org/)
                </nav>
            </div>
        </footer>

    </div>


    
    

    

    


    




